<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ShowMenuServlet</servlet-name>
        <servlet-class>course.ShowMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistercourseServlet</servlet-name>
        <servlet-class>course.RegistercourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeregisterCourseServlet</servlet-name>
        <servlet-class>course.DeregisterCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDetailsServlet</servlet-name>
        <servlet-class>course.UpdateDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mayregister</servlet-name>
        <servlet-class>course.Mayregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MayDeregisterServlet</servlet-name>
        <servlet-class>course.MayDeregisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>course.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisteredServlet</servlet-name>
        <servlet-class>course.UserRegisteredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>course.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMenuServlet</servlet-name>
        <url-pattern>/ShowMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistercourseServlet</servlet-name>
        <url-pattern>/RegistercourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeregisterCourseServlet</servlet-name>
        <url-pattern>/DeregisterCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDetailsServlet</servlet-name>
        <url-pattern>/UpdateDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mayregister</servlet-name>
        <url-pattern>/Mayregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MayDeregisterServlet</servlet-name>
        <url-pattern>/MayDeregisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisteredServlet</servlet-name>
        <url-pattern>/UserRegisteredServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
    <!--    <servlet-mapping>
        <servlet-name>testjsp</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>-->
</web-app>
